@media (max-width: 775px) {
    #menu{
        position:static;
        height:auto;
    }
    #menu a{
        width:100%;
        
    }
    #main_header{
     padding:100px 10px;
        margin-top: 0;
    }
    #about_company img{
         position:static;
    }
    .member{
        width:100%;
    }
    .tariff{
        width:90%;
    }
    .rates{
        margin:0;
        width:120%;
    }
    #contacts{
        width:100%;
    }
    #arrow_up{
        position:fixed;
        right:50px;
    }
}
